*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #696969;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas{
    margin-top: 3rem;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.game-heading{
    margin-top: 3rem;
    color: white;
}

.game-text{
    color: white;
}

#player-input{
    border: none;
    border-radius: 8px;
    width: 50%;
    padding: 1rem;
    background-color: #353535;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}